<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Urna Eletrônica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let candidate of candidates | filter:searchCandidates">
    <ion-img src="{{candidate.image}}"> </ion-img>
    <ion-card-header>
      <ion-button color="secondary">{{candidate.number}}</ion-button>
      <ion-card-title>{{candidate.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-input class="input-border" placeholder='Digite o número' type="tel" maxlength="2" [(ngModel)]="searchCandidates"
    animated required>
  </ion-input>
  <ion-button color="medium" (click)="inputBranco()" value="0"
    style="margin-left: 40px; margin-top: 20px; margin-right: 10px;">
    BRANCO
  </ion-button>
  <ion-button color="warning" (click)="clearSearch()" style="margin-top: 20px; margin-right: 10px;">
    CORRIGE
  </ion-button>
  <ion-button color="success" class="button" (click)="calculateVotes()" style="margin-top: 20px;">
    CONFIRMA
  </ion-button>

  <h3 class="text-center">RESULTADO PARCIAL</h3>
  <ion-list>
    <ion-item>
      <ion-label> Total de votos apurados: {{count}}% </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Daciolo: {{candidate1}} votos, de {{cat1}}% do total.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Marina: {{candidate2}} votos, de {{cat2}}% do total.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Fidelix: {{candidate3}} votos, de {{cat3}}% do total.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Brancos: {{blank}} votos, de {{catblank}}% do total.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>