<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Urna Eletrônica</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/img/lula-agencia-brasil-e1650648931917.jpg"></ion-img>
        </ion-thumbnail>
        
          <ion-label position="stacked">Candidato: Luiz Inacio</ion-label>
          <ion-label position="stacked">Partido: PT</ion-label> 
      </ion-item>
      
      <ion-item>
        <ion-label position="fixed">13</ion-label>

      </ion-item>
   
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" size="large" color="danger">corrige</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" size="large" color="success">confirma</ion-button>
        </ion-col>
        </ion-row>
  
    </ion-card-header>
  
    <ion-card-content>  
      <ion-row>
        <ion-col size="4">
          <ion-img src="../../assets/img/lula-agencia-brasil-e1650648931917.jpg"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="../../assets/img/bosonaro.jpg"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="../../assets/img/ciro.jpg"></ion-img>
        </ion-col>
      </ion-row>

        <ion-row>
          <ion-col size="4">
            <div class="ion-text-center">
              <ion-label>13</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">
              <ion-label>22</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">
              <ion-label>12</ion-label>
            </div>
          </ion-col>
        </ion-row>
    </ion-card-content>
    
  </ion-card>
  <ion-row>
    <ion-col>
      <div>
        <label>Total de votos válidos apurados: 100</label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <label>Candidato 13: 53 votos, 53% do total</label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <label>Candidato 22: 40 votos, 40% do total</label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <label>Candidato 12: 7 votos, 7% do total</label>
      </div>
    </ion-col>
  </ion-row>
  
</ion-content>
