<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Candidatos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>

      <ion-card-title>Cabo Daciolo</ion-card-title>
      <ion-card-subtitle>O PASTOR</ion-card-subtitle>

    </ion-card-header>

    <ion-img src="../../assets/img/51.jpg"></ion-img>

    <ion-card-content>
      Benevenuto Daciolo Fonseca dos Santos, mais conhecido como Cabo Daciolo 
      é um bombeiro militar, pastor evangélico e político brasileiro filiado 
      ao Partido Democrático Trabalhista. Em 2014, foi eleito deputado federal pelo Rio de Janeiro.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-card-title>Marina Silva</ion-card-title>
      <ion-card-subtitle>A Imortal</ion-card-subtitle>

    </ion-card-header>

    <ion-img src="../../assets/img/21.jpg"></ion-img>

    <ion-card-content>
      Maria Osmarina da Silva Vaz de Lima, mais conhecida por Marina Silva, 
      nascida Maria Osmarina da Silva, é uma historiadora, professora, 
      psicopedagoga, ambientalista e política brasileira, filiada à Rede Sustentabilidade.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-card-title>Levy Fidelix</ion-card-title>
      <ion-card-subtitle>Pastor Empresário</ion-card-subtitle>

    </ion-card-header>

    <ion-img src="../../assets/img/20.jpg"></ion-img>

    <ion-card-content>
      José Levy Fidelix da Cruz foi um político, empresário, 
      jornalista e publicitário brasileiro, fundador do Partido 
      Renovador Trabalhista Brasileiro. Fidelix reclamava a autoria 
      de diversos projetos, entre eles o aerotrem, um projeto de 
      trem-bala entre Campinas, São Paulo e Rio de Janeiro
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>