<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Votacao Online
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
          <ion-title size="large">Votacao Online</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Vote Online</ion-card-title>
          <ion-card-subtitle>Escolha seu candidato com consciencia.</ion-card-subtitle>
      </ion-card-header>
      <ion-card>
          <ion-img src="../../assets/img/Springfield.webp"></ion-img>
          <ion-card-header>
              <ion-card-title>Eleicões 2022</ion-card-title>
              <ion-card-subtitle>As eleições gerais no Springfield em 2022 estão agendadas para o dia 2 de outubro, em primeiro turno, e 30 de outubro em segundo turno, onde houver. Nesses dias, serão eleitos o presidente, o vice-presidente e o Congresso Nacional.</ion-card-subtitle>
              <ion-button expand="block" src="tab2.page.html">Começar Votação!</ion-button>
          </ion-card-header>
      </ion-card>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>