<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eleições 2022
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-principal">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title" >Eleições 2022</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img class="imagem" src="../assets/img/eleicoes2022.png"></ion-img>
    <ion-header class="header">
      <ion-card-title class="title"> - Chegou a hora de mudar - </ion-card-title>
      <ion-card-subtitle class="subtitle">Nas Eleições Gerais de 2022, importantes cargos estarão em disputa. 
        Quando forem às urnas no dia 2 de outubro (primeiro turno), eleitoras e eleitores votarão para presidente 
        da República, governador, senador, deputado federal e deputado estadual ou distrital. 
      </ion-card-subtitle>
      <ion-card-subtitle class="subtitle">
        O segundo turno acontece 
        no dia 30 de outubro apenas para os cargos de presidente e governador, se for necessário.
        A votação será realizada em todas as cidades do país, e as brasileiras e os brasileiros que vivem no exterior 
        também têm obrigação de votar, mas, neste caso, só para presidente.
      </ion-card-subtitle>
      <ion-card-title class="title">Título de eleitor</ion-card-title>
      <ion-card-subtitle class="subtitle">
        Agora, deixa eu fazer uma pergunta para você caro leitor(a).
        você já tirou seu título de eleitor?
        Se sim, ótimo!
      </ion-card-subtitle>
    </ion-header>  
    <ion-img class="imagem" src="../assets/img/happy.gif"></ion-img>
    
    <ion-card-subtitle class="subtitle">
    Se você ainda nao tirou, fica calmo que eu vou te ajudar com isso.
    Para tirar seu título de eleitor, primeiramente é necessário digitalizar os seguintes documentos:
    <ul>
      <li>Documento oficial de identidade com foto (frente e verso).</li>
      <br>
      <li>Comprovante de residência recente (no caso de transferência, prazo mínimo de três meses de residência no novo endereço).</li>
      <br>
      <li>Comprovante de pagamento de débito com a Justiça Eleitoral (quando houver débito).</li>
      <br>
      <li>Comprovante de quitação do serviço militar, para o alistamento, sendo o requerente do sexo masculino (exigência a partir de 18 anos até 31 de dezembro do ano que completar 45 anos)</li>
    </ul>
    Feito isso, acesse o link abaixo para iniciar seu atendimento a distancia.
    <a href="https://www.tse.jus.br/eleitor/titulo-de-eleitor/pre-atendimento-eleitoral-titulo-net/pre-atendimento-eleitoral-titulo-net/">clique aqui</a>

    </ion-card-subtitle>
  
  </ion-card>
</ion-content>




